body{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
}
.World{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1024px;
    width: 1536px;
    background-color: black;
    background-image: url("../Image/Backgorund.png");
    background-size: 1546px 1024px;
    opacity: 1;
    z-index: 0;
}
.button{
    position: absolute;
    background-color: white;
    font-weight: bold;
    z-index: 100;
    border: 3px solid black;
}
.button:hover{
    box-shadow: 0px 0px 30px rgba(50, 150, 200, 1);
    transform: scale(1.1);
}
.button:active{
    box-shadow: 0px 0px 30px rgba(50, 150, 200, 1);
    transform: scale(1.2);
}
.hairtail{
    position: absolute;
    left:0;
    top:0;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    border-radius: 10px;
    opacity: 1;
    z-index: 50;
    box-shadow: 0px 0px 20px black;
}
.talkBox{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    text-align: center;
    align-content: center;
    z-index: 200;
    border: 3px solid black;
}
.talkBoxService{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    z-index: 199;
    top: 0px;
    width: 0px;
}
.worm{
    position: absolute;
    display: block;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    z-index: 100;
}
.Lobby{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
.select {
    position: absolute;
    padding: 5px;
    border-radius: 8px;
    z-index: 150;
    border: 3px solid black;
}
.SettingBox{
    position: absolute;
    border-radius: 10px;
    background-color: white;
    z-index: 150;
    border: 3px solid black;
}
.setend{
    position: absolute;
    border-radius: 10px;
    background-color: white;
    z-index: 150;
    border: 3px solid black;
}
.TEXT{
    position: absolute;
    font-weight: bold;
    z-index: 150;
}
.InGame{
    display: none;
}
.hairtailImage{
    box-shadow: 0px 0px 30px black;
}
.MissionCanvas{
    position: absolute;
    border-radius: 10px;
    background-color: white;
    z-index: 99;
    border: 3px solid black;
}
.Missions{
    position: absolute;
    border-radius: 10px;
    background-color: white;
    z-index: 110;
    display: none;
    border: 3px solid black;
    text-align: center;
    align-content: center;
    font-weight: bold;
}
.mouseFollower{
    position: absolute;
    font-weight: bold;
    z-index: 250;
    display: none;
    background-color: white;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}