body{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
}
.World{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1024px;
    width: 1536px;
    background-color: black;
    background-image: url("../Image/Backgorund.png");
    background-size: 1546px 1024px;
}
.button{
    position: absolute;
    background-color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
}
.button:hover{
    box-shadow: 0px 0px 30px rgba(50, 150, 200, 1);
    transform: scale(1.1);
}